/**
 * rofi -dump-theme output.
 * Rofi version: 2.0.0
 * With category mode-switcher enabled
 **/
* {
   
    active-background:           var(background);
    active-foreground:           var(blue);
    alternate-active-background: var(background);
    alternate-active-foreground: var(foreground);
    alternate-normal-background: var(background);
    alternate-normal-foreground: var(foreground);
    alternate-urgent-background: var(lightbg);
    alternate-urgent-foreground: var(red);
    aqua:                        #83c092;
    background-color:            transparent;
    background:                  #2d353b;
    background2:                 #232a2e;
    blue:                        #7fbbb3;
    m-blue:                      #7fbbb380;
    dark-blue:                   #002b36;
    border-color:                var(blue);
    foreground:                  #a89e88;
    foreground2:                 #56635f30;
    green:                       #a7c080;
    lightbg:                     rgba ( 238, 232, 213, 100 % );
    lightbg2:                    #a7c0804d;
    lightfg:                     rgba ( 88, 104, 117, 100 % );
    normal-background:           var(background);
    normal-foreground:           var(foreground);
    red:                         #e67e80;
    selected-active-background:  var(lightbg2);
    selected-active-foreground:  var(background);
    selected-normal-background:  var(lightbg2);
    selected-normal-foreground:  var(background);
    selected-urgent-background:  var(red);
    selected-urgent-foreground:  var(background);
    separatorcolor:              var(foreground);
    spacing:                     2;
    urgent-background:           var(background);
    urgent-foreground:           var(red);
    lines: 14;
    font: "MesloLGS Nerd Font Bold 12";
    font-weight: 900;
}

configuration {
    me-select-entry:            "MousePrimary";
    me-accept-entry:            "!MousePrimary";
    cursor:                     pointer;
    hover-select:               true;
    kb-custom-1: "Alt+1";
    kb-custom-2: "Alt+2";
    kb-custom-3: "Alt+3";
    kb-custom-4: "Alt+4";
    kb-custom-5: "Alt+5";
    kb-custom-6: "Alt+6";
    kb-custom-7: "Alt+7";
    kb-custom-8: "Alt+8";
}

element {
    padding: 8px ;
    cursor:  pointer;
    border:  0;
    border-radius: 10px;
    text-color: var(foreground);
    background-color: var(background);
    orientation: vertical;
    children: [ element-icon, element-text ];
    highlight: bold;
}
element normal.normal {
    background-color: var(normal-background);
    text-color:       var(normal-foreground);
}
element normal.urgent {
    background-color: var(urgent-background);
    text-color:       var(urgent-foreground);
}
element normal.active {
    background-color: var(active-background);
    text-color:       var(active-foreground);
}
element selected.normal {
    background-color: var(selected-normal-background);
    text-color:       var(dark-blue);
}

element selected.urgent {
    background-color: var(selected-urgent-background);
    text-color:       var(selected-urgent-foreground);
}
element selected.active {
    background-color: var(selected-active-background);
    text-color:       var(dark-blue);
}
element alternate.normal {
    background-color: var(alternate-normal-background);
    text-color:       var(foreground);
}
element alternate.urgent {
    background-color: var(alternate-urgent-background);
    text-color:       var(alternate-urgent-foreground);
}
element alternate.active {
    background-color: var(alternate-active-background);
    text-color:       var(alternate-active-foreground);
}
element-icon {
    background-color: transparent;
    cursor:           inherit;
    text-color:       var(foreground);
    text-color:       inherit;
    size:             32px;
    horizontal-align: 0.5;
    padding: 0;
    margin: 0;
}

element-text {
    background-color: transparent;
    cursor:           inherit;
    text-color:       var(foreground);
    text-color:       inherit;
    horizontal-align: 0.5;
    vertical-align:   0.5;
    font:             "Inter Display Medium 12";
}

element.alternate.selected,
element-icon.selected, 
element-icon.selected.active,
element-text.selected,
element-text.selected.active {
    padding: 0;
    margin: 0;
}

window {
    padding:          5;
    background-color: var(background);
    border:           1;
    anchor: north;
    y-offset: 70px;
    width: 1400px;
    border-color: var(m-blue);
    border-radius: 15px;
    children:         [ mainbox ];
}
mainbox {
    background-color: var(background);
    children:         [ inputbar, listview, mode-switcher ];
}
message {
    padding:      1px ;
    border-color: var(separatorcolor);
    border:       2px dash 0px 0px ;
}
textbox {
    text-color: var(foreground);
}
listview {
    padding:       7px 0px 0px 0px;
    scrollbar:     true;
    border-color:  var(separatorcolor);
    spacing:       2px;
    fixed-height:  0;
    fixed-columns: true;
    border:        2px dash 0px 0px;
    columns:       6;
    lines:         8;
}
scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 8px ;
    border:       0;
    handle-color: var(normal-foreground);
}

/* Mode switcher (category buttons) */
mode-switcher {
    border:       2px dash 0px 0px;
    border-color: var(separatorcolor);
    padding:      5px;
    spacing:      5px;
}

sidebar {
    border-color: var(separatorcolor);
    border:       2px dash 0px 0px ;
}
button {
    cursor:          pointer;
    spacing:         0;
    text-color:      var(normal-foreground);
    background-color: var(background2);
    padding:         8px;
    border-radius:   8px;
}
button selected {
    background-color: var(selected-normal-background);
    text-color:       var(dark-blue);
}
num-filtered-rows {
    expand:     false;
    text-color: Gray;
}
num-rows {
    expand:     false;
    text-color: Gray;
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: Gray;
}
inputbar {
    padding:    2px ;
    margin:    0px 5px 0px 0px;
    border-radius: 10px;
    text-color: var(normal-foreground);
    children:   [ "prompt","entry" ];
}

entry {
    text-color:        var(foreground);
    background-color: var(foreground2);
    cursor:            text;
    padding:           10px;
    margin: 5px 0px 3px 5px;
    border-radius: 10px;
}
prompt {
    
    text-color: var(dark-blue);
    background-color: var(lightbg2);
    padding: 10px;
    margin: 5px 3px 3px 0.5px;
    border-radius: 10px;
}
